*{
    box-sizing:border-box; 
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(
    90deg,
  hsl(142deg 100% 58%) 0%,
  hsl(125deg 98% 68%) 16%,
  hsl(108deg 96% 67%) 27%,
  hsl(96deg 93% 64%) 37%,
  hsl(86deg 91% 61%) 47%,
  hsl(77deg 89% 58%) 56%,
  hsl(70deg 87% 55%) 65%,
  hsl(64deg 85% 52%) 75%,
  hsl(58deg 87% 52%) 86%,
  hsl(53deg 100% 54%) 100%
);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    overflow: hidden;
    user-select: none;
}

@keyframes gradient 
{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p
{
    font-size: 24px;
    color: white;

}


.splash
{
    text-align: center;
}

.splash-img
{
    padding-top: 1%;
    padding-bottom: 9%;
    object-fit: cover;
    display: inline-block;
    /*Controlls size of image*/
    width: 18%;
}

.splash-txt
{
    font-size: 12em;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-bottom: 0;
    bottom: 0;
    color: white;
}

.hover-effect
{
    overflow: auto;
    filter: drop-shadow(0.25rem 1rem 0.5rem black);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1);   

}
.hover-effect:hover
{
    filter: drop-shadow(0.175rem 1rem 0.5rem black);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 300ms ease-in;
    transform: scale(1.25);
}

@media screen and (max-width: 30em)
{
    .splash-img
    {
        width: 18%;
    }
}

@media screen and (min-width: 30em) and (max-width: 48em)
{
    .splash-img
    {
        width: 16%; 
    }
}

@media screen and (min-width: 48em) and (max-width: 80em)
{
    .splash-img
    {
        width: 14%; 
    }
}

@media screen and (min-width: 80em)
{
    .splash-img
    {
        width: 12%;
    }
}